.row.centered
  - { admin: '/admin', portfolio: 'http://portfolio.danielherzog.es' }.each do |id, url|
    .col.col-3
      a.block href='#{url}'
        h3 = t "home.#{id}.title"
        p = t "home.#{id}.description"
