doctype html
html
  head
    meta charset='UTF-8'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta name='theme-color' content='#{settings.application_color}'
    title Template

    link rel='shortcut icon' type='image/png' href='/img/favicon.png'

    == js_include 'lib/jquery', 'lib/kube.min', 'lib/jquery.smoothState.min'
    == css_include 'global', 'lib/animate', 'lib/font-awesome.min', 'lib/kube.min', 'lib/famfamfam-flags'

  body
    .row.centered.locales
      .col.col-10
        - I18n.available_locales.each do |locale|
          a href='/locales/set?locale=#{locale}'
            i class='famfamfam-flag-#{locale}'


    == yield
