@border-radius: 5px;

.row.locales {
  text-align: right;
  padding: 2px;

  a {
    margin: 0px 2px;
  }
}

/** Css example **/
.block {
  display: block;
  padding: 5px 10px 2px 10px;
  color: #ffffff;
  background-color: #aaaaaa;

  h3 {
    color: #ffffff;
  }
}
